#order_table {
    width: 100%;
}

#order_table thead {
    cursor: default;
}

#order_table tr {
    border: 1px solid black;
}

.text-center td {
    border: none
}

/* Custom DataTable Pagination Style */
.dataTables_paginate {
    margin-top: 10px;
    /* Adjust the top margin */
}

.dataTables_paginate .pagination {
    margin: 0;
    /* Remove default margin */
    display: flex;
    list-style: none;
}

.dataTables_paginate .paginate_button {
    border: 1px solid #ccc;
    /* Border color for the buttons */
    margin: 0 2px;
    /* Adjust the space between buttons */
    padding: 5px 10px;
    /* Adjust button padding */
    cursor: pointer;
    border-radius: 5px;
    /* Optional: Add border radius to buttons */
}

.dataTables_paginate .paginate_button:hover {
    background-color: #f2f2f2;
    /* Background color on hover */
}

.dataTables_paginate .paginate_button.current {
    background-color: #007bff;
    /* Background color of the current page button */
    color: white;
    /* Text color of the current page button */
    border-color: #007bff;
    /* Border color of the current page button */
}

.dataTables_paginate .paginate_button.disabled {
    color: #ccc;
    /* Text color of disabled buttons */
    pointer-events: none;
    /* Disable pointer events for disabled buttons */
}

/* Custom style for DataTables info */
/* Custom style for DataTables length change and search input */
.dataTables_length select,
.dataTables_filter input {
    margin-top: 10px;
    /* Adjust the top margin */
    font-size: 14px;
    /* Adjust font size */
    color: #555;
    /* Text color */
    border: 1px solid #ccc;
    /* Border color */
    border-radius: 5px;
    /* Optional: Add border radius to inputs */
    padding: 5px;
    /* Adjust input padding */
}

/* Style for length change and search input on focus */
.dataTables_length select:focus,
.dataTables_filter input:focus {
    outline: none;
    /* Remove outline on focus */
    border-color: #007bff;
    /* Border color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    /* Optional: Add box shadow on focus */
}