.main{
    margin-top: 150px; 
    position: relative;
}

.btn-green{
    font-size: 16px;     
    background-color: #1dbf73;
    font-weight: 700;
    color: #fff!important;
    padding: 10px;   
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#become-seller a{
    text-decoration: none;
    color: #fff;
}